<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ tenant.name }} - Employee home</h2>
        </div>
    </div>
    <div class="row" *ngIf="userStatus?.isCustomer">
        <div class="col-md-12">
            <p><a (click)="manageEmployeesLinkClick()">Click here</a> to manage employees.</p>
        </div>
    </div>
    <div class="row" *ngIf="paidTimeOffRequests$ | async as paidTimeOffRequests">
        <div class="col-md-12" *ngIf="!paidTimeOffRequests?.length">
            You have no current PTO requests.
        </div>
        <div class="col-md-12" *ngIf="paidTimeOffRequests?.length">
            <om-employee-paid-time-off-requests [paidTimeOffRequests]="paidTimeOffRequests$ | async"></om-employee-paid-time-off-requests>
        </div>
    </div>
</div>
