<div class="container">
    <div class="row mt-3 justify-content-center" [ngClass]="routeAnimationsElements" style="text-align: center">
        <div class="col-auto" [ngClass]="routeAnimationsElements">
            <h2>Unauthorized</h2>
            <div class="main-image">
                <img [src]="image" [alt]="image" />
            </div>
            <br />
            <p>You have tried to access an unauthorized area of the site.</p>
            <div class="my-5">
                <button mat-button mat-stroked-button color="accent" (click)="goBack()">
                    <span>Go Back</span>
                </button>
            </div>
        </div>
    </div>
</div>
