@import 'styles-variables';

/*@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
*/
//... we don't want watered-down bootstrap. We want the whole thing.
@import "~bootstrap/scss/bootstrap";

@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/black-theme';
@import './themes/nature-theme';

@import 'styles-reset.scss-theme';
@import './app/app/app.component.scss-theme';
@import './app/shared/big-input/big-input/big-input.component.scss-theme';

@mixin custom-components-theme($theme) {
    @include om-styles-reset-theme($theme);
    @include om-app-component-theme($theme);
    @include om-big-input-component-theme($theme);
}

.default-theme {
    @include angular-material-theme($om-theme);
    @include custom-components-theme($om-theme);
}

.light-theme {
    @include angular-material-theme($om-light-theme);
    @include custom-components-theme($om-light-theme);
}

.black-theme {
    @include angular-material-theme($om-black-theme);
    @include custom-components-theme($om-black-theme);
}

.nature-theme {
    @include angular-material-theme($om-nature-theme);
    @include custom-components-theme($om-nature-theme);
}
